body {
    background-color: #39AEA9;
    font-family: 'Homenaje', sans-serif;
    line-height: 20px;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar & List */
li {
    float: left; 
    border-right: 1px solid grey;
}

.nav-item{
    margin: 0px 10px;
}

li:last-child {
    border-right: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #1B1A17;
}

.nav,
nav-item {
    top: 0;
    width: 100%;
    list-style-type: none;
    background-color: #203239;
    display: block;
    text-align: center;
    overflow: hidden;

    /* Note: overflow:hidden is added to prevent li elements from going outside of the list. */
}

.nav-item {
    display: inline;
    padding: 25px 25px;
    padding-left: 0px;
}

/* Sourabh | Home */
.home {
    text-align: center;
    padding: 80px 25px;
}

/* Image & Description */
.home-img {
    float: left;
    border: 2px solid #3A3845;
    border-radius: 8px;
    min-width: 300px;
    object-fit: contain;
}

.home-desc {
    float: right;
    border: 2px solid #251D3A;
    background-color: #6EDCD9;
    padding: 20px 25px;
    border-radius: 8px;
    margin: 30px;
}

/* About */
.about-heading {
    text-align: center;
    margin: 100px 0 50px 0;
}

.about-desc {
    border: 2px solid #251D3A;
    background-color: #6EDCD9;
    padding: 20px 25px;
    margin: 30px;
}

/* Contact */
.contact-heading {
    text-align: center;
    padding: 20px 25px;
}

.contact-logo {
    border: 2px solid #251D3A;
    background-color: #6EDCD9;
    padding: 20px 25px 20px 120px;
    margin: 100px;
}

/* Skills */
.skills {
    text-align: center;
    margin: 100px;
}

.knowledge {
    border: 2px solid #251D3A;
    background-color: #6EDCD9;
    padding: 20px 25px;
    margin-top: 50px;
}

.home-title{
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Random stuff testing */

<@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-size: 16px;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #000;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#B5838D 25%, #FFCDB2 0);
}
.circle.per-50 {
  background-image: conic-gradient(#B5838D 50%, #FFCDB2 0);
}
.circle.per-75 {
  background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}
.circle.per-100 {
  background-image: conic-gradient(#B5838D 100%, #FFCDB2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}